.category {
  background-color: #cfe2f3ff!important;
}

.question {
  background-color: #b6d7a8ff!important;
}

.advice {
  background-color: #ea9999ff!important;
}

.action {
  background-color: #ffe599ff!important;
}

.external {
  background-color: tomato!important;
}

#motm {
  text-align: center;
  margin-bottom: 10px;
}

#tooltip {
  position: static;
  color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: var(--box-shadow-vars);
}

#tooltip:empty  {
  padding: 0px;
}

#what {
  background-color: transparent!important;
  border-radius: 0px;
  border: 0px;
  -webkit-appearance: none;
  overflow-y: auto;
  width: 100%;
  resize: none;
  outline: none;
  padding: 0px;
  font-size: 20px;
  color: #212529;
}

#what:focus {
  outline: none!important;
}

#info {
  font-size: 30px;
}

.jumbotron {
  background-color:	#013564;
  color: aliceblue;
  position: relative;
  top: 0px;
  border-radius: 0px;
  margin: 0px;
}

nav.navbar-expand-sm {
  margin-bottom: 50px;
}

.subcat {
  float: left;
  width: 33.3%;
  margin:5px;
  color:#343a40!important;
}

.row {
  text-align: center;
  margin: auto;
  width: 80%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#logo {
  position: absolute;
  right: 20px;
  top: 10px;
}

.breadcrumb {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0px;
}